vrrp_instance VI_1 {
    state {{ keepalived_state }}
    interface {{ keepalived_interface }}
    virtual_router_id 51
    priority {{ keepalived_priority }}
    advert_int 5
    notify /usr/local/sbin/valkey-notify.sh
    authentication {
        auth_type PASS
        auth_pass {{ vault_keepalived_pass }}
    }
    virtual_ipaddress {
        192.168.1.200/24
    }
}
