[Unit]
Description=Nomad
Documentation=https://www.nomadproject.io/docs/
Wants=network-online.target
After=network-online.target
Requires=sys-subsystem-net-devices-{{ ansible_default_ipv4.interface }}.device
After=sys-subsystem-net-devices-{{ ansible_default_ipv4.interface }}.device

[Service]

# Nomad server should be run as the nomad user. Nomad clients
# should be run as root

ExecReload=/bin/kill -HUP $MAINPID
ExecStartPre=/bin/sh -c 'for i in $(seq 1 60); do \
  ip -o addr show dev {{ ansible_default_ipv4.interface }} scope global up | grep -q . && \
  ip route show default dev {{ ansible_default_ipv4.interface }} | grep -q . && \
  ip -o addr show dev wg-mesh scope global up | grep -q . && exit 0; \
  sleep 2; done; echo "net not ready"; exit 1'
ExecStart=/usr/bin/nomad agent -config "{{ nomad_data_dir }}"
KillMode=process
KillSignal=SIGINT
LimitNOFILE=65536
LimitNPROC=infinity
Restart=on-failure
RestartSec=2

## Configure unit start rate limiting. Units which are started more than
## *burst* times within an *interval* time span are not permitted to start any
## more. Use `StartLimitIntervalSec` or `StartLimitInterval` (depending on
## systemd version) to configure the checking interval and `StartLimitBurst`
## to configure how many starts per interval are allowed. The values in the
## commented lines are defaults.

# StartLimitBurst = 5

## StartLimitIntervalSec is used for systemd versions >= 230
# StartLimitIntervalSec = 10s

## StartLimitInterval is used for systemd versions < 230
# StartLimitInterval = 10s

TasksMax=infinity
OOMScoreAdjust=-1000

[Install]
WantedBy=multi-user.target
