name = "{{ inventory_hostname }}"
region = "global"
datacenter = "dc1"

advertise {
	http = "{{ wireguard_ip }}"
	rpc = "{{ wireguard_ip }}"
	serf = "{{ wireguard_ip }}"
}

data_dir = "{{ nomad_data_dir }}"
plugin_dir = "/opt/nomad/data/plugins"
log_level = "warn"
log_file = "{{ nomad_data_dir }}/logs/nomad.log"
log_rotate_max_files = 5
enable_syslog = false

client {
	enabled = true
	network_interface = "wg-mesh"

	host_network "private" {
		cidr = "10.10.10.0/24"
		interface = "wg-mesh"
	}

	host_network "public" {
		interface = "{{ ansible_default_ipv4.interface }}"
	}

	template {
		disable_file_sandbox = true
		function_denylist = ["plugin", "writeToFile"]
	}

	meta {
		{% for k,v in hostvars[inventory_hostname].cluster_labels.items() %}
		{{ k }} = "{{ v }}"
		{% endfor %}
	}

{% set server_ip = [] %}
{%- for host in groups['servers'] %}
{%- if host in groups['cluster_managers'] %}
{{ server_ip.append(hostvars[host].wireguard_ip) }}
{%- endif %}
{%- endfor %}
	servers = [ {{ '\"' + server_ip | join('\", \"') + '\"' }} ]
}

{% if inventory_hostname in groups['cluster_managers'] %}
server {
	enabled = true
	default_scheduler_config {
		scheduler_algorithm = "spread"
		memory_oversubscription_enabled = true
	}

	{% if vagrant -%}
	bootstrap_expect = 1
	{%- else -%}
	bootstrap_expect = 3
	{% endif -%}

	server_join {
		retry_join = [ {{ '\"' + server_ip | join('\", \"') + '\"' }} ]
	}

	heartbeat_grace = "1m"
	# job_gc_threshold = "5m"
}
{% endif %}

plugin "docker" {
	config {
		allow_privileged = true

		volumes {
			enabled = true
		}

		gc {
			image_delay = "24h"
		}
	}
}

telemetry {
  publish_allocation_metrics = false
  publish_node_metrics       = false
  collection_interval        = "30s"
}

plugin "nomad-driver-podman" {
	config {
		socket {
			name = "default"
			socket_path = "unix:///run/user/1000/podman/podman.sock"
		}

		socket {
			name = "root"
			socket_path = "unix:///run/podman/podman.sock"
		}

		volumes {
			enabled = true
		}
	}
}

plugin "raw_exec" {
	config {
		enabled = true
	}
}
