[Unit]
Description=Valkey
After=network-online.target
Wants=network-online.target

[Service]
User={{ ansible_user }}
Group={{ ansible_user }}
ExecStart=/usr/bin/valkey-server /etc/valkey/valkey.conf
Restart=on-failure

[Install]
WantedBy=multi-user.target
