#!/bin/bash

. "{{ ansible_env.HOME }}/bin/secrets"
. "{{ ansible_env.HOME }}/bin/functions.sh"

ip="$1"
jail="$2"
ip_country="$(mmdblookup -f {{ geoip_db }} -i "$ip" country names en | awk -F'"' '$0=$2')"

push "fail2ban banned $ip ($ip_country) on $jail"
