Unattended-Upgrade::Remove-Unused-Dependencies "true";
Unattended-Upgrade::Automatic-Reboot "false";
Unattended-Upgrade::Automatic-Reboot-Time 05:30;

Unattended-Upgrade::Allowed-Origins {
        "${distro_id} ${distro_codename}-security";
      	"${distro_id} ${distro_codename}-updates";
};
