[Unit]
Description=Mount JuiceFS filesystem for distributed storage
After=network-online.target
Wants=network-online.target
AssertPathIsDirectory={{ jfs_mount_path }}
StartLimitIntervalSec=120
StartLimitBurst=6

[Mount]
What=unix:///home/{{ ansible_user }}/cld/keydb/sock/keydb.sock?db=1
Where={{ jfs_mount_path }}
Type=juicefs
Options=cache-size=512000,writeback,allow_other,user_id=1000,group_id=1000,no-usage-report,readdir-cache,check-storage
TimeoutSec=10

[Install]
WantedBy=default.target
