[Unit]
Description=Mount JuiceFS filesystem for distributed storage
After=network-online.target
Wants=network-online.target
AssertPathIsDirectory={{ jfs_mount_path }}

[Service]
Type=exec
ExecStart=/usr/local/bin/juicefs mount \
	unix:///home/{{ ansible_user }}/cld/keydb/sock/keydb.sock?db=1 \
	--cache-size 10240 \
	--writeback \
	--no-usage-report \
	-o allow_other,user_id=1000,group_id=1000 \
	{{ jfs_mount_path }}
ExecStop=/usr/local/bin/juicefs umount {{ jfs_mount_path }}
RestartSec=5
Restart=on-failure

[Install]
WantedBy=default.target
