[Unit]
Description=Mount NFS Share
After=network-online.target
Wants=network-online.target
AssertPathIsDirectory={{ nas_mount_path }}

[Mount]
What={{ hostvars[nas_node].ansible_host }}:{{ nas_mount_path }}
Where={{ nas_mount_path }}
Type=nfs
Options=vers=4.2,noatime
TimeoutSec=10

[Install]
WantedBy=default.target
