[Unit]
Description=rclone: Remote FUSE filesystem for cloud storage config
After=network-online.target
Wants=network-online.target
AssertPathIsDirectory={{ crypt_mount_path }}

[Service]
Type=notify
ExecStart= \
  /usr/bin/rclone mount \
	--allow-other \
	--gid 1000 \
	--uid 1000 \
	--cache-dir "{{ ansible_env.HOME }}/.cache/rclone/crypt" \
	--config "{{ ansible_env.HOME }}/.config/rclone/rclone.conf" \
	--vfs-cache-mode full \
	--vfs-cache-max-size 5G \
	--vfs-cache-max-age 8760h \
	--rc \
	--rc-no-auth \
	--rc-addr :5575 \
	crypt:cld {{ crypt_mount_path }}
ExecStop=/bin/fusermount -uz {{ crypt_mount_path }}
RestartSec=5
Restart=on-failure

[Install]
WantedBy=default.target
